:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --primary-accent-color: #4d5ae5;
  --secondary-accent-color: #404bbf;
  --another-accent-color: #f4f4fd;
  --primary-white-color: #ffffff;
  --primary-border-color: #e7e9fc;

  --anim-duration: 250ms;
  --anim-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Reset */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

/* Container */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Logo */

.logo.link {
  padding-top: 25.5px;
  padding-bottom: 25.5px;

  margin-right: 76px;

  color: var(--primary-accent-color);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
}

.accent-studio {
  color: var(--title-text-color);
}

/* Page header */

.page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid var(--primary-border-color);
}

/* Site nav */

.nav {
  display: flex;
  align-items: center;
}

.nav.list {
  display: flex;
  gap: 40px;
}

.nav.link {
  position: relative;

  display: block;

  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: color;
}

.nav.link.current,
.nav.link:hover,
.nav.link:focus {
  color: var(--secondary-accent-color);
}

.nav.link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
}

.nav.link.current::after {
  background-color: var(--secondary-accent-color);
}

/* Address */

.address .list {
  display: flex;
  gap: 40px;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address.link {
  display: block;

  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-decoration: none;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: color;
}

.address.link:hover,
.address.link:focus {
  color: var(--secondary-accent-color);
}

/* Hero */

.section-hero {
  max-width: 1440px;

  padding-top: 188px;
  padding-bottom: 188px;

  margin-right: auto;
  margin-left: auto;

  background-color: var(--title-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/heroimage/imghero.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  max-width: 496px;

  color: var(--primary-white-color);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button,
.submit-btn {
  display: block;

  margin-left: auto;
  margin-right: auto;

  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;

  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;

  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: background-color;
}

.hero-button:hover,
.hero-button:focus,
.submit-btn:hover,
.submit-btn:focus,
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--secondary-accent-color);
}

/* Section */

/* Visually-hiden section title */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin-bottom: 72px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.subsection-title {
  margin-bottom: 8px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.velues.list {
  display: flex;
  gap: 24px;
}

.velues-item {
  width: 264px;
}

.velues-icon-box {
  margin-bottom: 8px;

  display: flex;
  height: 112px;

  justify-content: center;
  align-items: center;

  background-color: var(--another-accent-color);
  border-radius: 4px;
}

.section-velues {
  padding-top: 120px;
  padding-bottom: 120px;
}

.we-doing.list {
  display: flex;
  gap: 24px;
}

.section-we-doing {
  padding-bottom: 120px;
}

.section-team {
  background-color: var(--another-accent-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team.list {
  display: flex;
  gap: 24px;
}

.team .subsection-title,
.team .text {
  text-align: center;
}

.team .text {
  margin-bottom: 8px;
}

.team-item {
  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-discrb {
  padding-top: 32px;
  padding-right: 0;
  padding-bottom: 32px;
  padding-left: 0;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--primary-accent-color);
  border-radius: 50%;

  fill: var(--another-accent-color);

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: background-color;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--secondary-accent-color);
}

.social-media-icon {
  fill: currentColor;
}

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers.list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: #8e8f99;

  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: color, border;
}

.customer-logo-icon {
  width: 104px;
  height: 56px;

  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--secondary-accent-color);
  border: 1px solid var(--secondary-accent-color);
}

.section-our-projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.text {
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* Filters */

.filters.list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filters-button {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;

  border: 1px solid var(--primary-border-color);
  border-radius: 4px;

  color: var(--primary-accent-color);
  background-color: var(--another-accent-color);
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: color, background-color, border, box-shadow;
}

.filters-button:active,
.filters-button:hover,
.filters-button:focus {
  color: var(--primary-white-color);
  background-color: var(--secondary-accent-color);
  border: 1px solid transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Examples */

.examples.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.examples .link {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: box-shadow, transform;
}

.examples-card-discrb {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;

  border-right: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  border-left: 1px solid var(--primary-border-color);
}

.examples-card {
  background: var(--primary-white-color);
}

.examples .link:hover,
.examples .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples .link:hover .examples-card-overlay,
.examples .link:focus .examples-card-overlay {
  transform: translateY(0);
}

.examples-card-box {
  position: relative;
  overflow: hidden;
}

.examples-card-overlay {
  position: absolute;
  left: 0;
  top: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;

  background-color: var(--primary-accent-color);

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: transform;
}

.examples-card-over {
  color: var(--another-accent-color);
}

/* Footer */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .accent-studio,
.footer .text {
  color: var(--another-accent-color);
}

.footer-text {
  max-width: 264px;
  margin-right: 120px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
  padding: 0;
}

.footer-social-media {
  width: 208px;
  margin-right: 80px;
}

.footer-social-media-title,
.subscribe-form-label {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-white-color);
}

.footer-social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-media-item {
  width: 40px;
  height: 40px;
}

.footer-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--primary-accent-color);
  border-radius: 50%;

  color: var(--another-accent-color);

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: background-color;
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: #31d0aa;
}

.footer-social-madia-icon {
  fill: currentColor;
}

.subscribe {
  width: 453px;
  height: 80px;

  /* margin-left: auto; */
}

.subscribe-form {
  display: flex;
  gap: 24px;

  width: 100%;
}

.subscribe-form-input {
  display: flex;

  width: 264px;
  height: 40px;

  padding: 8px 16px;

  font-size: 12px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);

  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--title-text-color);

  outline: 2px solid transparent;
  outline-offset: -2px;
}

.subscribe-form-input::placeholder {
  color: var(--primary-white-color);
}

.subscribe-btn {
  display: flex;
  gap: 16px;

  align-items: center;
  text-align: center;

  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;

  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  border: none;

  color: var(--primary-white-color);
  fill: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: background-color;
}

/* Modal window */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background: rgba(46, 47, 66, 0.4);

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: opacity, visibility;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 584px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;

  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  background-color: var(--primary-border-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: background-color, fill;
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  background-color: var(--secondary-accent-color);
  fill: var(--primary-white-color);
}

.modal-title {
  display: block;

  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.modal-form-label {
  display: block;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;
}

.modal-form-field {
  position: relative;

  margin-bottom: 8px;
}

.modal-form-input {
  width: 100%;
  height: 40px;

  padding-left: 38px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: 2px solid transparent;
  outline-offset: -2px;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: outline-color;
}

.modal-form-input:focus {
  outline-color: var(--primary-accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);

  fill: var(--title-text-color);

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: fill;

  pointer-events: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--primary-accent-color);
}

.modal-form-message {
  display: block;
  width: 100%;
  min-height: 120px;
  max-height: 180px;
  padding: 8px 16px;
  margin-bottom: 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: 2px solid transparent;
  outline-offset: -2px;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: outline-color;

  resize: none;
}

.modal-form-message:focus {
  outline-color: var(--primary-accent-color);
}

.modal-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-agreement {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}

.modal-form-agreement-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-agreement-field {
  position: relative;
  width: 16px;
  height: 16px;
}

.modal-form-agreement-box {
  appearance: none;

  width: 100%;
  height: 100%;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  cursor: pointer;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: background-color, border-color, fill;
}

.modal-form-agreement-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: transparent;

  pointer-events: none;
}

.modal-form-agreement-box:checked {
  background-color: var(--secondary-accent-color);
  border: 1px solid var(--secondary-accent-color);
}

.modal-form-agreement-box:checked + .modal-form-agreement-icon {
  fill: var(--primary-white-color);
}

.modal-form-agreement-link {
  color: var(--primary-accent-color);
}
