:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --primary-accent-color: #4d5ae5;
  --secondary-accent-color: #404bbf;
  --another-accent-color: #f4f4fd;
  --primary-white-color: #ffffff;
  --primary-border-color: #e7e9fc;

  --anim-duration: 250ms;
  --anim-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Reset */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

/* Container */

.container {
  /* Phone styles & > */
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Logo */

.logo.link {
  padding-top: 25.5px;
  padding-bottom: 23.5px;

  margin-right: auto;

  color: var(--primary-accent-color);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .logo.link {
    padding-bottom: 25.5px;
    margin-right: 120px;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .logo.link {
    margin-right: 76px;
  }
}

.accent-studio {
  color: var(--title-text-color);
}

/* Page header */

.page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid var(--primary-border-color);
}

/* Site nav */

.nav {
  display: flex;
  align-items: center;
}

.nav.list {
  display: flex;
  gap: 40px;
}

/* Tablet styles & > */

@media only screen and (max-width: 767px) {
  .nav.list {
    display: none;
  }
}

.nav.link {
  position: relative;

  display: block;

  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: color;
}

.nav.link.current,
.nav.link:hover,
.nav.link:focus {
  color: var(--secondary-accent-color);
}

.nav.link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
}

.nav.link.current::after {
  background-color: var(--secondary-accent-color);
}

/* Address */

.address .list {
  display: flex;
  gap: 40px;
}

/* > Tablet styles */

@media only screen and (max-width: 767px) {
  .address .list {
    display: none;
  }
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .address .list {
    flex-direction: column;
    gap: 6px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.address {
  font-style: normal;
  margin-left: auto;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .address.link {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;

    color: var(--primary-text-color);

    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.04em;

    text-decoration: none;

    transition-duration: var(--anim-duration);
    transition-timing-function: var(--anim-timing);
    transition-property: color;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .address.link {
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.address.link:hover,
.address.link:focus {
  color: var(--secondary-accent-color);
}

/* Hero */

.section-hero {
  max-width: 1440px;

  padding-top: 112px;
  padding-bottom: 112px;

  margin-right: auto;
  margin-left: auto;

  background-color: var(--title-text-color);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Phone style > 482px */

@media only screen and (max-width: 482px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heroimage/imghero_mob@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/heroimage/imghero_mob@2x.jpg);
    }
  }
}

/* Tablet styles 483px > */

@media only screen and (min-width: 483px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heroimage/imghero_tab@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/heroimage/imghero_tab@2x.jpg);
    }
  }
}

/* Desktop styles 769px > */

@media only screen and (min-width: 769px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heroimage/imghero_desk@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/heroimage/imghero_desk@2x.jpg);
    }
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .section-hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.hero-title {
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;

  max-width: 320px;

  color: var(--primary-white-color);

  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 36px;
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-button,
.submit-btn {
  display: block;

  margin-left: auto;
  margin-right: auto;

  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;

  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;

  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: background-color;
}

.hero-button:hover,
.hero-button:focus,
.submit-btn:hover,
.submit-btn:focus,
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--secondary-accent-color);
}

/* Section */

/* Visually-hiden section title */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin-bottom: 72px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.subsection-title {
  margin-bottom: 8px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Values section */

.velues.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}

.velues-item {
  max-width: 396px;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .velues-item {
    max-width: 356px;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .velues-item {
    width: 264px;
  }
}

.velues-icon-box {
  margin-bottom: 8px;

  display: flex;
  height: 112px;

  justify-content: center;
  align-items: center;

  background-color: var(--another-accent-color);
  border-radius: 4px;
}

/* > Desktop styles */

@media only screen and (max-width: 1157px) {
  .velues-icon-box {
    display: none;
  }
}

.section-velues {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .section-velues {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.subsection-title.velues {
  margin-bottom: 8px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .subsection-title.velues {
    text-align: start;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .subsection-title.velues {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.text.velues {
  font-weight: 500;
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .text.velues {
    font-weight: 400;
  }
}

/* We doing section */

.section-we-doing {
  padding-bottom: 120px;
}

/* > Desktop styles */

@media only screen and (max-width: 1157px) {
  .section-we-doing {
    display: none;
  }
}

.we-doing.list {
  display: flex;
  gap: 24px;
}

/* Team section */

.section-team {
  background-color: var(--another-accent-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.team.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .team.list {
    row-gap: 64px;
  }
}

.team .subsection-title,
.team .text {
  text-align: center;
}

.team .text {
  margin-bottom: 8px;
}

.team-item {
  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-discrb {
  padding-top: 32px;
  padding-right: 0;
  padding-bottom: 32px;
  padding-left: 0;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--primary-accent-color);
  border-radius: 50%;

  fill: var(--another-accent-color);

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: background-color;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--secondary-accent-color);
}

.social-media-icon {
  fill: currentColor;
}

/* Customers section */

.section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.customers.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .customers.list {
    column-gap: 24px;
  }
}

.customers-item {
  width: 190px;
  height: 88px;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .customers-item {
    width: 168px;
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: #8e8f99;

  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: color, border;
}

.customer-logo-icon {
  width: 104px;
  height: 56px;

  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--secondary-accent-color);
  border: 1px solid var(--secondary-accent-color);
}

/* Our projects section */

.section-our-projects {
  padding-top: 48px;
  padding-bottom: 48px;
}

/* Tablet styles */

@media only screen and (min-width: 768px) {
  .section-our-projects {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .section-our-projects {
    padding-top: 96px;
    padding-bottom: 120px;
  }
}

.text {
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* Filters */

.filters.list {
  display: flex;
  flex-wrap: wrap;

  row-gap: 16px;
  column-gap: 24px;
  margin-bottom: 48px;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .filters.list {
    justify-content: center;

    margin-bottom: 72px;
  }
}

.filters-button {
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;

  border: 1px solid var(--primary-border-color);
  border-radius: 4px;

  color: var(--primary-accent-color);
  background-color: var(--another-accent-color);
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: color, background-color, border, box-shadow;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .filters-button {
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
  }
}

.filters-button:active,
.filters-button:hover,
.filters-button:focus {
  color: var(--primary-white-color);
  background-color: var(--secondary-accent-color);
  border: 1px solid transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Examples */

.examples.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .examples.list {
    row-gap: 72px;
    justify-content: flex-start;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .examples.list {
    row-gap: 48px;
  }
}

.examples .link {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: box-shadow, transform;
}

.examples-card-discrb {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;

  border-right: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  border-left: 1px solid var(--primary-border-color);
}

.examples-card {
  background: var(--primary-white-color);
}

/* Tablet styles */

@media only screen and (min-width: 768px) {
  .examples-card {
    max-width: 356px;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .examples-card {
    max-width: 360px;
  }
}

.examples .link:hover,
.examples .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples .link:hover .examples-card-overlay,
.examples .link:focus .examples-card-overlay {
  transform: translateY(0);
}

.examples-card-box {
  position: relative;
  overflow: hidden;
}

.examples-card-overlay {
  position: absolute;
  left: 0;
  top: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;

  background-color: var(--primary-accent-color);

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: transform;
}

.examples-card-over {
  color: var(--another-accent-color);
}

/* Footer */

.footer {
  background-color: var(--title-text-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .footer-container {
    row-gap: 72px;
    column-gap: 24px;
    justify-content: start;

    width: 584px;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .footer-container {
    gap: 0px;
    align-items: baseline;

    width: 1158px;
  }
}

.footer .accent-studio,
.footer .text {
  color: var(--another-accent-color);
}

.footer-text {
  max-width: 268px;
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .footer-text {
    max-width: 264px;
    margin-right: 120px;
  }
}

.footer .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-right: 0;
  padding: 0;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .footer .logo {
    justify-content: flex-start;
  }
}

.footer-social-media {
  width: 208px;
  text-align: center;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .footer-social-media {
    text-align: start;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1158px) {
  .footer-social-media {
    margin-right: 80px;
  }
}

.footer-social-media-title,
.subscribe-form-label {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-white-color);
}

.footer-social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-media-item {
  width: 40px;
  height: 40px;
}

.footer-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--primary-accent-color);
  border-radius: 50%;

  color: var(--another-accent-color);

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: background-color;
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: #31d0aa;
}

.footer-social-madia-icon {
  fill: currentColor;
}

.subscribe {
  max-width: 398px;
  width: 100%;
  text-align: center;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .subscribe {
    max-width: 453px;
    height: 80px;

    text-align: start;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
    width: 453px;
  }
}

.subscribe-form-input {
  width: 100%;
  height: 40px;

  padding: 8px 16px;

  font-size: 12px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);

  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--title-text-color);

  outline: 2px solid transparent;
  outline-offset: -2px;
}

/* Tablet style & > */

@media only screen and (min-width: 768px) {
  .subscribe-form-input {
    width: 264px;
  }
}

.subscribe-form-input::placeholder {
  color: var(--primary-white-color);
}

.subscribe-btn {
  display: flex;
  gap: 16px;

  align-items: center;
  text-align: center;

  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;

  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  border: none;

  color: var(--primary-white-color);
  fill: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: background-color;
}

/* Modal window */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background: rgba(46, 47, 66, 0.4);

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: opacity, visibility;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 392px;
  min-height: 584px;
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;

  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Phone styles > 391px */

@media only screen and (max-width: 391px) {
  .modal {
    width: 100vw;
  }
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
  }
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  background-color: var(--primary-border-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: background-color, fill;
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  background-color: var(--secondary-accent-color);
  fill: var(--primary-white-color);
}

.modal-title {
  display: block;

  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.modal-form-label {
  display: block;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;
}

.modal-form-field {
  position: relative;

  margin-bottom: 8px;
}

.modal-form-input {
  width: 100%;
  height: 40px;

  padding-left: 38px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: 2px solid transparent;
  outline-offset: -2px;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: outline-color;
}

.modal-form-input:focus {
  outline-color: var(--primary-accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);

  fill: var(--title-text-color);

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: fill;

  pointer-events: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--primary-accent-color);
}

.modal-form-message {
  display: block;
  width: 100%;
  min-height: 120px;
  max-height: 180px;
  padding: 8px 16px;
  margin-bottom: 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: 2px solid transparent;
  outline-offset: -2px;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: outline-color;

  resize: none;
}

.modal-form-message:focus {
  outline-color: var(--primary-accent-color);
}

.modal-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-agreement {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}

.modal-form-agreement-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-agreement-field {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.modal-form-agreement-box {
  appearance: none;

  width: 100%;
  height: 100%;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  cursor: pointer;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: background-color, border-color, fill;
}

.modal-form-agreement-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: transparent;

  pointer-events: none;
}

.modal-form-agreement-box:checked {
  background-color: var(--secondary-accent-color);
  border: 1px solid var(--secondary-accent-color);
}

.modal-form-agreement-box:checked + .modal-form-agreement-icon {
  fill: var(--primary-white-color);
}

.modal-form-agreement-link {
  color: var(--primary-accent-color);
}

/* Mobile menu styles */

.menu-hamburger-icon {
  stroke: var(--title-text-color);
}

.menu-toggle {
  position: relative;

  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

/* Tablet styles & > */

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle-btn {
  position: absolute;
  top: 0;
  right: 0;

  width: 24px;
  height: 24px;

  background-color: var(--primary-border-color), opacity 0.1;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: background-color, fill;
}

.menu-toggle-btn:hover,
.menu-toggle-btn:focus,
.menu-toggle-btn:active {
  background-color: var(--secondary-accent-color);
  fill: var(--primary-white-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  padding-top: 80px;
  padding-right: 35px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: var(--primary-white-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-text-color);
  text-decoration: none;
}

.mobile-menu .link.current {
  color: var(--secondary-accent-color);
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  margin-bottom: 48px;
}

.mobile-contacts .link {
  text-decoration: none;
}

.mobile-contacts-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--primary-accent-color);
}

.mobile-contacts-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.mobile-social-media-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  max-width: 328px;

  padding: 0px;
  gap: 56px;
}

/* Phone styles > 427px */

@media only screen and (max-width: 427px) {
  .mobile-social-media-list {
    gap: 30px;
  }
}

.mobile-social-media-item {
  width: 40px;
  height: 40px;
}

.mobile-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--primary-accent-color);
  border-radius: 50%;

  color: var(--another-accent-color);

  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing);
  transition-property: background-color;
}

.mobile-social-media-link:hover,
.mobile-social-media-link:focus {
  background-color: var(--secondary-accent-color);
}

.mobile-social-madia-icon {
  fill: currentColor;
}
